<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
</head>
<table style="width: 100% ; height: 100%; border-spacing: 0px;">
<body style="background-color: rgb(255, 255, 255); padding: 0; margin: 0; ">
    
        <tr >
            <th style="background-color: #00ffff;">
                <img src="/static/oryx.jpg" alt="Image" width="150" height="150">
            </th>
            <th style="background-color: rgb(99, 227, 49);">
                <h1  style="font-size: 50px ; color: white;"> بذرة المستقبل</h1>
            </th>

            <th style="background-color: #00ffff;">
                <img src="/static/camel1.jpg" alt="Image" width="150" height="150">
            </th>
        </tr>
        <tr>
            <th style="background-color: #00ffff;">
                <img src="/static/tent.jpg" alt="Image" width="200" height="200">
            </th>
            <th>
                <img src="/static/map.jpg" alt="Image" width="600" height="400">
            </th>
            <th style="background-color: #00ffff;">
                <img src="/static/palmtree.jpg" alt="Image" width="200" height="200">
            </th>
        </tr>
        <tr style="background-color: rgb(250, 233, 0); border: 0px;">
            <th colspan="3" >
                <h1 style="color: white; font-size: 25px;">  إختر المستخدم</h1>
            </th>
        </tr>
        <tr style="background-color: rgb(241, 32, 32);border: 0px; align-content: center;">
            <th style="text-align: center; font-size: 25px;-webkit-text-fill-color: white;">
                <a href="newUser" style="color: white;font-size: 25px;"> إنشاء مستخدم جديد </a>
            </th>
            <th style="text-align: center; font-size: 25px;-webkit-text-fill-color: white;">
                <a href="welcome" style="color: white; text-align: center; font-size: 25px;"> زايد </a>
            </th>

            <th style="text-align: center; font-size: 25px;-webkit-text-fill-color: white;">
                <a href="welcome" style="color: white;font-size: 25px;"> حصة </a>
            </th>
            
        </tr>  
        <tr></tr>
</body>
</table>
</html>