<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
</head>
<body style="background-color: rgb(255, 255, 255);">

<table style="width: 100% ; height: 550px; border-spacing: 0px;">
    <tr>
        <th style="background-color: rgb(159, 133, 253); border: 0px; width: 25%; "></th>
        <th style="background-color: rgb(139, 108, 252)">
            <h1 style="font-size: 60px ; color: white;"> مستخدم جديد </h1>
        </th>
        <th style="background-color: rgb(159, 133, 253); font-size: 30px; width: 25%;">
            <a href="home" style="color: white; ">    إرجع     </a>
        </th>
    </tr>
    <tr style="background-color: rgb(187, 170, 249);">
        <th style="background-color: rgb(159, 133, 253); border: 0px;"></th>
        <th style="text-align: center;">
            <div style="margin-top: 50px;">
                <label for="name" style="font-size: 20px; color: white;">  إسم </label><br>
                <input type="text" id="name" name="name" style="margin-bottom: 20px;"><br>
                <label for="age" style="font-size: 20px; color: white;"> عمر</label><br>
                <input type="text" id="age" name="age" style="margin-bottom: 20px;"><br>
                <button onclick="window.location.href='welcome'" style="font-size: 20px;"> إنشاء  </button>
            </div>
        </th>
        <th style="background-color: rgb(159, 133, 253); border: 0px;"></th>
    </tr>
</table>

</body>
</html>
