<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrong</title>
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
</head>
<table style="width: 100% ; height: 550px; border-spacing: 0px;">
<body style="background-color: rgb(255, 255, 255);">

        <tr >
            <th style="background-color: rgb(255, 152, 152); border: 0px; width: 22%; "></th>
            <th style="background-color: rgb(169, 24, 24);">
                <h1  style="font-size: 60px ; color: white;">  الإجابة   </h1>
            </th>
            <th style="background-color: rgb(255, 152, 152); font-size: 30px ;;"> <a href="image" style="color: white; width: 20%;">   إرجع </a></th>
        </tr>
        <tr style="background-color: rgb(250, 13, 13);">
            <th style="background-color: rgb(255, 152, 152); border: 0px;"></th>
            <th >
                <h1 style="font-size: 80px ; color: white;">  غلط  </h1>
            </th>
            <th  style="background-color: rgb(255, 152, 152);; border: 0px;"></th>
        </tr>
        <tr style="background-color: rgb(249, 181, 181); border: 0px; height: 10%;">
            <th colspan="3"></th>

        </tr>
        <tr style="background-color: rgb(249, 181, 181);border: 0px; height: 10%;">
            <th colspan="3"></th>
        </tr>  
        <tr></tr>
</body>
</table>
</html>